* { 
    -moz-box-sizing: border-box; 
    -webkit-box-sizing: border-box; 
    box-sizing: border-box; 
}
html, 
body{
    height: 100%;
}
body{
    font-family: 'Montserrat', sans-serif;
    background: rgb(239,50,217);
    background: linear-gradient(61deg, rgba(239,50,217,1) 0%, rgba(63,116,219,1) 100%);

    margin: 0;
}
p,
h1,
h2{
    margin: 0;
}
.site-title{

    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 1em;
    background-color: rgba(0, 0, 0, 0.425);
    color: #fff;
    border-bottom-left-radius: 60px;
    border-bottom-right-radius: 60px;
    box-shadow: rgba(0, 0, 0, 0.616) 8px 20px 40px 8px
}
@media (orientation: landscape){
    .site-title{
        max-width: 50%;
    }
    .nav-bar{
        width: 100%;
        height: 10%;
        display: flex;
        justify-content: center;
    }
}

.user-section{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90%;
    padding-top: 1em;
}

.carousel{
    position: relative;
}
.carousel{
    max-height: 80%;
    max-width: 90%;
}

@media (orientation: landscape){
    .carousel{
        max-height: 40%;
        max-width: 40%;
    }
}




.carousel-btns{
    display: flex;
    position: absolute;
    top: 50%;
    left: 50%;
    height: 100%;
    width: 100%;
    transform: translate(-50%, -50%);
    
}
.arrow-btn{
    color: #fff;
    background-color: rgba(0, 0, 0, 0.616);
    border: 1px #fff solid;
    border-radius: 50px;
    height: 45px;
    width: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.slide-pane{
    /* background-color: rgba(0, 0, 0, 0.384); */
    display: flex;
    align-items: center;
    animation: hideBtn 3s;
}
.slide-prev-pane{
    width: 50%;
    padding-left: 1em;
}
.slide-next-pane{
    width: 50%;
    justify-content: flex-end;
    padding-right: 1em;
}

/* #btn-slide-prev{
    margin-left: 1em;
}
#btn-slide-next{
    margin-right: 1em;
} */

.carousel-item-hidden{
    display: none;
}
.carousel-item-shown{
    display: block;
    
}
.carousel-item{
    height: 100%;
    animation: fadeVisibility 0.4s;
}
.carousel-item > img{
    display: block;
    max-width: 100%;
    height: auto;
    border-radius: 7px;
    box-shadow: rgba(0, 0, 0, 0.733) 0px 16px 48px 0px;
}


@keyframes fadeVisibility {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes hideBtn {
    45% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}